<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
  <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic|Roboto' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/react/entrypoint.css"/>
  <script src="/static/react/entrypoint.js"></script>

  <title>Kronos</title>
</head>
<body>
<div data-react-class="App" data-react-props="{&quot;RECAPTCHA_SITE_KEY&quot;:&quot;6Lfih84SAAAAAHIlcik6lipnvVUG0CSPYpTVGRGf&quot;}" data-react-cache-id="App-0"></div>

<footer class='app'>
<div class='container'>
<div class='row sponsor-white'>
<div class='col-xs-6'>
<a href="https://www.reddropdesign.nl/"><img alt="Red Drop Design" src="/assets/sponsors/sponsor-rdd-cfed8c02ed8aa6b797828abe420f4183eaadc5783ad4c18dd212b203627d19e5.PNG" /></a>
</div>

</div>
<div class='row sponsor-white'>


</div>
<div class='row'>
<div class='col-md-3 adresgegevens'>
<address>
<b>Drienerlose Atletiek Vereniging Kronos<br /></b>
Postbus 217<br />
7500 AE Enschede<br />
<a href="mailto:info@kronos.nl">info@kronos.nl</a>
</address>
</div>
</div>
</div>
</footer>



</body>
</html>
