<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic|Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/entrypoint.css"/>
    <script src="/static/entrypoint.js"></script>

  <title>kronos</title>
</head>
<body>
<div data-react-class="App" data-react-props="{&quot;RECAPTCHA_SITE_KEY&quot;:&quot;6Lfih84SAAAAAHIlcik6lipnvVUG0CSPYpTVGRGf&quot;}" data-react-cache-id="App-0"></div>

<footer class='app'>
<div class='container'>
<div class='row sponsor-white'>
<div class='col-xs-6'>
<a href="https://www.reddropdesign.nl/"><img alt="Red Drop Design" src="/assets/sponsors/sponsor-rdd-cfed8c02ed8aa6b797828abe420f4183eaadc5783ad4c18dd212b203627d19e5.PNG" /></a>
</div>
<div class='col-xs-6'>
<a href="https://www.opzeggen24.nl/abonnement-opzeggen/basic-fit-opzeggen.html"><img alt="basic fit opzeggen" class="center-block" src="/assets/sponsors/sponsor-opzeggen24-3b1a077ba067b795d4eb07b9988000c90e8d2f03307050d9081c594eab16d593.png" /></a>
</div>
</div>
<div class='row sponsor-white'>
<div class='col-xs-6'>
<a href="https://www.huurzone.nl/huren/enschede.html"><img alt="huurwoningen enschede" class="center-block" src="/assets/sponsors/sponsor-huurzone-bfc5f5e4b4f10d4f9752be86f3694a57bf6cff6694042d2479d7f2259261554e.png" /></a>
</div>
<div class='col-xs-6'>
<a href="https://www.simonlydiscount.nl/sim-only-providers.html"><img alt="vergelijk alle sim only providers op SimOnlyDiscount!" class="center-block" src="/assets/sponsors/sponsor-simonly-6736b9b4353620f654ac88903d6efbe17ad70e5e2baa8e59d335a77e1f5b5d1d.png" /></a>
</div>
</div>
<div class='row'>
<div class='col-md-3 adresgegevens'>
<address>
<b>Drienerlose Atletiek Vereniging Kronos<br /></b>
Postbus 217<br />
7500 AE Enschede<br />
<a href="mailto:info@kronos.nl">info@kronos.nl</a>
</address>
</div>
</div>
</div>
</footer>



</body>
</html>
